.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.checkoutProduct__info {
    padding-left: 20px
    
}

.checkoutProduct__info > button {
    background: #45D9CC;
    border: 1px solid;
    margin-top: 10px;
    color: white;
    transition-duration: 0.4s;
    border-radius: 6px;
    width: 150px;
    height: 40px;
}

.checkoutProduct__info > button:hover{
    background: #3BBBB0;
  }

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
    color: #2bd481;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
    color: #2E2E2E;
}

.checkoutProduct__price {
    color: #2E2E2E;
}