.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  
}
.productrating{
    display: flex;
    color: #2bd481;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.productinfo {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}
.productprice {
  margin-top: 5px;
  color: #2E2E2E;
}

.productname {
  color: #2E2E2E;
}

.home__itembtn{
  background: #45D9CC;
  border: 1px solid;
  margin-top: 10px;
  color: white;
  border-radius: 6px;
  width: 120px;
  height: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.home__itembtn:first-child {
  margin-right: 20px;
}

.home__itembtn:hover{
  background: #3BBBB0;
}

.productbtns{
  display: flex;
}

