#Male,#Female,#AttackHelicopter{
    display: none;
}
#AttackHelicopter:checked{
    display: block;
}
#Male:checked{
    display: block;
}
#Female:checked{
    display: block;
}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
