#Male,#Female,#AttackHelicopter{
    display: none;
}
#AttackHelicopter:checked{
    display: block;
}
#Male:checked{
    display: block;
}
#Female:checked{
    display: block;
}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.consultant_container{
    font-size: 18px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Checkbox büyüklüğü */
    margin-left: 10px; /* Yazı ile checkbox arasındaki boşluk */
  } 